*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: repeating-radial-gradient(circle,cyan,magenta);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}
.logo{
    border-radius: 50px;
height: 50px;
width: 50px;
    cursor: pointer;
    
}
.icon{
    width: 30px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
    padding-right: 30px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}
nav ul li a:hover::after{
    width: 50%;
}
.text-box{
    color: #fff;
    position: absolute;
    bottom: 8%;
}
.text-box p{
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
}
.text-box h1{
    font-size: 130px;
    line-height: 100px;
    margin-left: -10px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke:1px #fff;
    background: url(images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}



.text-box h3{
    font-size: 40px;
    font-weight: 100;
    text-transform: uppercase;
}
.text-box .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.text-box a{
    border-radius: 25px;
  border: 2px solid cyan;
  padding: 5px 20px; 
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
}
.text-box a span{
    font-size: 30px;
    line-height: 15px;
    margin-left: 5px;
}
.social-icons{
    position: absolute;
    right: 5%;
    bottom: 8%;
}
.social-icons img{
    width: 25px;
    display: block;
    margin-bottom: 10px;
}
.text-box .row a:hover{
    background-color: cyan;
}